<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid flex-nowrap">
    <a class="navbar-brand" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
      </svg>
    </a>
    <form class="d-flex w-75 pe-2" role="search">
      <input class="form-control me-2" [(ngModel)]="searchFor" name="searchFor" type="search" placeholder="Pesquisar.." aria-label="Search">
      <button class="btn btn-outline-light" [class.disabled]="searchControlFlag" (click)="searchProducts(searchFor)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasExample">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </form>

    <div *ngIf="logged; else loggedOut" class="flex-shrink-0 dropdown">
      <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0.5px, 34px, 0px);" data-popper-placement="bottom-end">
        <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Conversas</font></font></a></li>
        <li><a class="dropdown-item disabled" href="#" routerLink="/products"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pedidos</font></font></a></li>
        <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Perfil</font></font></a></li>
        <li><hr class="dropdown-divider"></li>
        <li *ngIf="false; else naoTem"><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Minha loja</font></font></a></li>
        <ng-template #naoTem><li><a  routerLink="/store-registration" class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cadastrar loja</font></font></a></li></ng-template>
        <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sair</font></font></a></li>
      </ul>
    </div>
  </div>

  <ng-template #loggedOut>
    <button class="btn btn-light text-nowrap" data-bs-toggle="modal" data-bs-target="#loginModal">
      Logar
    </button>
  </ng-template>

  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Entrar:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <input type="email" [(ngModel)]="authLogin.username" name="username" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" [(ngModel)]="authLogin.password" name="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Senha</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-light" (click)="authenticate()" type="submit">Logar</button>
            <small class="text-body-secondary">Cadastrando-se no site, você concorda com os termos de uso.</small>
            <hr class="my-4">
            <h2 class="fs-5 fw-bold mb-3">Você ainda não tem uma conta?!</h2>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-light" data-bs-target="#cadastroModal" data-bs-toggle="modal">Cadastre-se</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="cadastroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Cadastrar:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <input type="text" [(ngModel)]="authCadastro.name" name="name" class="form-control rounded-3" id="floatingInput" placeholder="Digite seu nome">
              <label for="floatingInput">Nome</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" [(ngModel)]="authCadastro.email" name="email" class="form-control rounded-3" id="floatingInput" placeholder="seu-email@exemplo.com">
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" [(ngModel)]="authCadastro.password" name="password" name="password" class="form-control rounded-3" id="floatingInput" placeholder="Digite sua senha">
              <label for="floatingInput">Senha</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text"  [(ngModel)]="authCadastro.phone" name="phone" class="form-control rounded-3" id="floatingPassword" placeholder="Digite seu número">
              <label for="floatingPassword">Celular</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-light" (click)="cadastro()" type="submit">Cadastrar</button>
            <small class="text-body-secondary">Cadastrando-se no site, você concorda com os termos de uso.</small>
            <hr class="my-4">
            <h2 class="fs-5 fw-bold mb-3">Você já tem uma conta?</h2>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-light" data-bs-target="#loginModal" data-bs-toggle="modal">Faça o login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title fs-4" id="offcanvasScrollingLabel">Produtos</h2>
      <button type="button" (click)="close()" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="list-group">
        <a *ngFor="let product of products" href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <img src="https://github.com/twbs.png" alt="imagem" width="50" height="50" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 fs-6">{{ product.name }}</h6>
              <p class="mb-0 opacity-75">{{ product.description }}</p>
            </div>
            <small class="opacity-75 fs-6 text-nowrap">R$ {{ product.price }}</small>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
